# Ignore everything
*
# Except the following files and directories
!app.py
!templates/
!templates/*.html
!static/
!static/css/
!static/css/*.css
!static/*png
!requirements.txt
!README.md
!budgetwise.db
