@import 'bulma.css';

/* Global styles for light and dark mode */
a:focus,
.navbar-item:focus {
    outline: none;
    box-shadow: 0 0 0 2px currentColor; /* Use currentColor for a box-shadow that matches the text color */
}

.is-primary {
    background-color: #A6B37D;
    color: white;
}
.is-danger {
    background-color: #E76F51;
    color: white;
}
/* Light mode */
body {
    background-image: url('../background-light.png');
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-size: cover;
    color: black;
    height: 100vh; /* Set a specific height for flexbox to work */
    display: flex; /* Enable Flexbox layout */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0; /* Remove default body margin */
    min-height: fit-content;
}


.container {

    width: 90%;
    height: 90%;
    min-height: fit-content;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.18);
    border-width: 1px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.content {
    text-align: center;
    background: none;
    min-height: 70vh;
    height: fit-content;
    margin: auto;
}   

header {
    background-color: #eeeeee;
    color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background: none;
    width: 100%;
}

.navbar {
    background-color: #EEEEEE;
    width: 100%;
    padding: 0.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

}

.navbar-item {
    width: auto;
    border-radius: 1rem;
    margin: 0.2rem;
}

.box {
    opacity: 0.8;
    background-color: #FAF9EE;
    margin: 0.8rem;
    padding: 1rem;
}


.control {
    margin: 0.5rem;
}

.navbar-item:hover {
    background-color: #e6e6e6;
    color: #333333;
}

#signup {
    background-color: #A2AF9B;
    color: white;
}
#welcome {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 2rem; 
    width: 90%; 
    height: 90%; 
    border: none;
    margin: auto;
    padding: 5rem;
    min-height: fit-content;
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-image: url('../background-dark.png');
    color: white; /* Changed to white for better contrast */
}
header {
    background-color: #222831;
    color: #76ABAE;
}
.is-primary {
    background-color: #76ABAE;
    color: white;
}
.navbar {
    background-color: #222831;
}
.box {
    background-color: #222831;
    
}
.navbar-item:hover {
    background-color: #31363F;
    color: white;
}
#signup {
    background-color: #76ABAE;
    color: #31363F;
}
}