{% extends "layout.html" %}
{% block content %}

{% if user %}
<!-- Main Grid -->
<div class="grid is-mobile is-desktop is-multiline is-flex">
    <div class="column is-one-half-desktop is-full-mobile">
        <div class="cell">
            <div class="box">
                <img src="https://placehold.co/300" alt="Placeholder Image">
            </div>
        </div>
        <div class="cell">
            <div class="box">
                <img src="https://placehold.co/300" alt="Placeholder Image">
            </div>
        </div>
    </div>
    <!-- Net Balance Box -->
    <div class="column is-one-half-desktop is-full-mobile">
        <div class="cell">
            <div class="box" style="padding: 1rem; text-align: left;">
                    <div style="white-space: nowrap;">
                        <h2 class="subtitle" style="font-size: 2vw; margin-bottom: 0;">Net Balance</h2>
                        <h1 class="title" style="font-size: 5vw; margin-top: 1rem; margin-bottom: 1rem;">$5,000.00</h1>
                    </div>
            </div>
        </div>

        <div class="cell">
            <div class="box">
            <img src="https://placehold.co/300" alt="Placeholder Image">
            </div>
        </div>
        
    </div>
</div>
{% else %}
    <div id="welcome">    
        <div class="box" style="width: fit-content; height: 100%; padding: 2rem;">
            <h2 class="title">Welcome to BudgetWise!</h2>
            <div style="justify-content: center; align-items: center; display: flex; gap: 1rem;">
                <a class="button is-light" href="/login">Log in</a> or <a class="button is-primary" href="/signup">Sign up</a>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
