{% extends "layout.html" %}

{% block content %}
<div style="text-align: center; margin-top: 1rem;">
    <h1 class="title">Sign Up</h1>
</div>

<div class="box" style="max-width: 400px; margin: auto; margin-top: 1rem;">
    
    <form method="post" action="/signup">
        <div class="field">
            <label class="label">Username</label>
                <div class="control">
                    <input autocomplete="off" required class="input" type="text" placeholder="Username" name="username">
                </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
                <div class="control">
                    <input autocomplete="off" required class="input" type="password" placeholder="Password" name="password">
                </div>
        </div>

        <div class="field">
            <label class="label">Confirm Password</label>
                <div class="control">
                    <input autocomplete="off" required class="input" type="password" placeholder="Confirm Password" name ="confirm_password">
                </div>
        </div>
            {% if error %}
                <p class="has-text-danger">{{ error }}</p>
            {% endif %}
        <div class="field" style="text-align: center; margin-top: 1rem;">
            <div class="control">
                <button class="button is-primary" type="submit">Sign Up</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
