{% extends "layout.html" %}

{% block content %}
<div class="container" style="text-align: center; margin-top: 2rem; width: fit-content; border: none;">
<h1 class="title">Sign Up</h1>
</div>

<div class="box" style="max-width: 400px; margin: auto; margin-top: 1rem;">
    
    <form method="post" action="{{ url_for('signup') }}">
        <div class="field">
            <label class="label">Username</label>
                <div class="control">
                    <input required class="input" type="text" placeholder="Type Here" name="username">
                </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
                <div class="control">
                    <input required class="input" type="password" placeholder="Type Here" name="password">
                </div>
        </div>

        <div class="field">
            <label class="label">Confirm Password</label>
                <div class="control">
                    <input required class="input" type="password" placeholder="Type Here" name ="confirm_password">
                </div>
        </div>
        <div class="field" style="text-align: center; margin-top: 1rem;">
            <div class="control">
                <button class="button is-primary" type="submit">Sign Up</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
