{% extends "layout.html" %}

{% block content %}

<div style="text-align: center; margin: auto; margin-top: 1rem;">
    <h1 class="title">Transactions</h1>
    <button class="button is-primary is-large is-rounded" id="add-transaction" style="margin: 1rem auto;">Add Transaction</button>
</div>

<div id="add-transaction-modal" class="modal" style="border-radius: 1rem;">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <form method="post" action="/add_transaction">
        <div class="field">
          <label class="label">Date</label>
          <div class="control">
            <input autocomplete="off" class="input" type="date" name="date">
          </div>
        </div>

        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            <input autocomplete="off" class="input" type="text" name="description" placeholder="Description" required>
          </div>
        </div>

        <div class="field">
          <label class="label">Category</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select name="category" required>
                <option disabled selected value>Select Category</option>
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
              </select> 
              </div>             
        </div>
        </div>

        <div class="field">
          <label class="label">Amount</label>
          <div class="control">
            <input autocomplete="off" class="input" type="number" step="0.01" name="amount" placeholder="Amount" required>
          </div>
        </div>

        <div class="field">
          <label class="label">Account</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select name="account_id" required>
                <option disabled selected value>Select Account</option>
                {% for account in accounts %}
                <option value="{{ account.id }}">{{ account.account_name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Transaction Type</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select name="transaction_type">
                <option value="income">Income</option>
                <option selected value="expense">Expense</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field is-grouped is-grouped-centered" style="margin-top: 1rem;">
          <div class="control">
            <button class="button is-primary is-rounded" type="submit">Add Transaction</button>
          </div>
          <div class="control">
            <button type="button" class="button is-light is-rounded" id="cancel-button">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div style="text-align: right; margin-right: 4rem; margin-bottom: 1rem;">
<div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>Sort By <strong>V</strong></span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu4" role="menu" style="text-align: center;">
    <div class="dropdown-content">
      <a class="dropdown-item" id="1" href="{{ url_for('transactions', sort_by='date_desc')}}">Date (Newest)</a>
      <a class="dropdown-item" id="2" href="{{ url_for('transactions', sort_by='date_asc')}}">Date (Oldest)</a>
      <a class="dropdown-item" id="3" href="{{ url_for('transactions', sort_by='category')}}">Category</a>
      <a class="dropdown-item" id="4" href="{{ url_for('transactions', sort_by='amount_asc')}}">Amount (Highest)</a>
      <a class="dropdown-item" id="5" href="{{ url_for('transactions', sort_by='amount_desc')}}">Amount (Least)</a>
      <a class="dropdown-item" id="6" href="{{ url_for('transactions', sort_by='account')}}">Account</a>
      <a class="dropdown-item" id="7" href="{{ url_for('transactions', sort_by='type')}}">Type</a>
    </div>
  </div>
</div>
</div>
<div class="container" style="padding: .5rem;">
    <table class="table is-fullwidth is-striped is-hoverable" style="margin-bottom: 1rem; margin-top: 1rem; text-align: center;">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction, account, category in transactions %}
            <tr>
                <td>{{ transaction.transaction_date.strftime("%Y-%m-%d") }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ category.name }}</td>
                <td>{{ usd(transaction.amount, transaction.transaction_type) }}</td>
                <td>{{ account.account_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {

    const selectedSort = document.getElementById('{{ flag }}')

    selectedSort.classList.add('is-active')

    const addTransactionButton = document.getElementById('add-transaction');
    const modal = document.getElementById('add-transaction-modal');
    const cancelButton = document.getElementById('cancel-button');
    const modalClose = modal.querySelector('.modal-close');

    addTransactionButton.addEventListener('click', () => {
        modal.classList.add('is-active');
    });

    cancelButton.addEventListener('click', () => {
        modal.classList.remove('is-active');
    });

    modalClose.addEventListener('click', () => {
        modal.classList.remove('is-active');
    });
});
</script>


{% endblock %}